
body {     
   width: 100vh;     
   height: 100vh;     
   background-image: url(assets/bg.jpg);     
   display: flex;     
   justify-content: center;     
   align-items: center;  
}   
.quiz-app {
   background-color: aliceblue;
   font-family: Arial, sans-serif;
   text-align: center;
   padding: 20px;
   max-width: 800px;
   margin: 0 auto;
 }
  
 .question-section {
   margin-top: 20px;
 }
 
 h2 {
   font-size: 24px;
 }
 
 h3, p {
   font-size: 18px;
 }
 
 .options {
   margin-top: 20px;
 }
 button {     
   padding: 10px;     
   margin: 5px;     
   background-color: aqua;     
   border-radius: 30px;     
   cursor: pointer;     
   transition: background-color 0.4s;  
}  

button:hover {     
   filter: brightness(1.6);   
}  
 button.correct {
   background-color: green;
   color:pink;
 }
 
 button.incorrect {
   background-color: red;
   color:pink;
 }
 
 .timer {
   font-size: 18px;
   margin-top: 20px;
 }

 .score-section {
   padding: 20px;
   border: 2px solid #ccc;
   border-radius: 10px;
   background-color:pink;
   margin-top: 30px;
 }
 
 .score-section h2,
 .score-section h3 {
   font-size: 22px;
 }
 
 .answers-list {
   margin-top: 20px;
   text-align: left;
   max-width: 700px;
   margin: 20px auto;
 }
 
 .answers-list .answer {
   background-color: #f0f0f0;
   padding: 10px;
   border-radius: 5px;
   margin-bottom: 10px;
 }
 
 .answers-list .correct {
   background-color: #e0f7e0;
 }
 
 .answers-list .incorrect {
   background-color: #f7e0e0;
 }
 
 .answer p {
   margin: 5px 0;
 }
 
  
 .next-button {
   background-color: #4CAF50;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   margin-top: 20px;
   border-radius: 5px;
 }
 
 .next-button:hover {
   background-color: #45a049;
 }
 
 button:focus {
   outline: none;
 }
  
 button.restart-button {
   background-color: #ff9800;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   margin-top: 20px;
   border-radius: 5px;
 }
 
 button.restart-button:hover {
   background-color: #fb8c00;
 }
 